<h1>Nuestros clientes</h1>

<div class="card-container">
    <mat-card class="cards">
        <mat-card-title>Pycca</mat-card-title>
        <mat-card-content class="content">
            <img class="logos" src="assets/cliente1.png" alt="Logo Cliente 1">
        </mat-card-content>
        <mat-card-actions class="actions">
            <a href="https://www.pycca.com/" target="_blank"><button mat-button>Visitar</button></a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cards">
        <mat-card-title>Computron</mat-card-title>
        <mat-card-content class="content">
            <img src="assets/cliente2.jfif" alt="Logo Cliente 2">
        </mat-card-content>
        <mat-card-actions class="actions">
            <a href="https://www.computron.com.ec/" target="_blank"><button mat-button>Visitar</button></a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cards">
        <mat-card-title>Créditos económicos</mat-card-title>
        <mat-card-content class="content">
            <img src="assets/cliente3.jfif" alt="Logo Cliente 3">
        </mat-card-content>
        <mat-card-actions class="actions">
            <a href="https://www.crecos.com/" target="_blank"><button mat-button>Visitar</button></a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cards">
        <mat-card-title>Marcimex</mat-card-title>
        <mat-card-content class="content">
            <img src="assets/cliente4.png" alt="Logo Cliente 4">
        </mat-card-content>
        <mat-card-actions class="actions">
            <a href="https://www.marcimex.com/" target="_blank"><button mat-button>Visitar</button></a>
        </mat-card-actions>
    </mat-card>

</div>