nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #1F2D3D;
}

.options a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-right: 70px;
    padding: 15px 70px 15px 70px;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 15px;
    background-color: #1F2D3D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #555;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.options a:hover {
    background-color: #555;
}