  .resenas-list {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .resenas-list img {
    width: 225px;
    height: 225px;
    margin: 10px;
  }
  
  .producto {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .resenas{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .resenas h2{
    margin: 10px;
    font-size: 30px;
    text-align: center;
  }

  .resenas .resena{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }

  .resena mat-icon{
    font-size: 30px;
    color: gold;
}