<div class="resenas-list">

  <h2>Reseñas sobre LAPTOP/NOTEBOOK HP CI7-1255U 1.7GHZ-8GB-256GB SSD-NATURAL SILVER-15.6″HD-W11</h2>
  <div class="producto">
    <img src="assets/laptop.jpg" alt="Imagen de reseña"/>
    <div class="descripcion">
      <p><strong>Pantalla:</strong> 15.6″HD 1366 x 768 pixels.</p>
      <p><strong>Procesador:</strong> Intel Core i7-1255U 1.7GHz.</p>
      <p><strong>Memoria RAM:</strong> 8GB DDR4.</p>
      <p><strong>Almacenamiento:</strong> 256GB SSD.</p>
      <p><strong>Sistema Operativo:</strong> Windows 11.</p>
      <p><strong>precio:</strong> $1.129,99</p>
    </div>
  </div>
  <div class="resenas">
    <h2>Reseñas</h2>
    <div class="review-form">
      <h3>Publicar Reseña</h3>
      <textarea [(ngModel)]="nuevaResena.opinion" placeholder="Escribe tu reseña"></textarea>
      <div class="button">
        <button (click)="agregarResena()">Publicar</button>
      </div>
    </div>
    <div class="resena">
      <p><strong>Usuario:</strong> Juan Perez</p>
      <p><strong>Comentario:</strong> Excelente producto, muy rápido y con una excelente calidad de imagen.</p>
    </div>
    <div class="resena">
      <p><strong>Usuario:</strong> Maria Rodriguez</p>
      <p><strong>Comentario:</strong> Muy buen producto, la batería dura mucho y es muy rápido.</p>
    </div>
    <div class="resena">
      <p><strong>Usuario: </strong> Carlos Sanchez</p>
      <p><strong>Comentario:</strong> Buen producto, pero la pantalla no es Full HD.</p>
    </div>
    <div class="resena" *ngFor="let resena of resenas">
      <p><strong>Usuario:</strong>usuario</p>
      <p><strong>Comentario:</strong> {{resena.opinion}}</p>
    </div>

    
  </div>
  

</div>