<div class="intro">
    <h1>Buscador de productos</h1>
    <p>Encuentra a los vendedores mejor rankeados de las principales plataformas que venden el producto que deseas
        adquirir</p>
</div>

<div class="search-bar">
    <input [(ngModel)]="query" type="text" placeholder="Buscar Producto">
    <button (click)="buscar()">Buscar</button>
</div>

<div class="results" *ngIf="resultados.length > 0">
    <h3>Resultados de la búsqueda:</h3>
    <mat-card class="example-card" appearance="outlined" *ngFor="let vendedor of resultados">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title class="card-title">{{ vendedor.usuario }}</mat-card-title>
            <mat-card-subtitle class="card-subtitle">{{ vendedor.plataforma }}</mat-card-subtitle>
            <img mat-card-lg-image src = "{{vendedor.logo}}"   alt="vendedor-logo">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions>
            <a href="https://www.mercadolibre.com.ec/pagina/tecnoml?item_id=MEC563018204&category_id=MEC95057&seller_id=491122175&client=recoview-selleritems&recos_listing=true#origin=pdp&component=sellerData&typeSeller=eshop" target="_blank">
                <button mat-button >
                  Visitar
                </button>
              </a>
        </mat-card-actions>
        <mat-card-content class="calificacion">
            Calificación:
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            {{ vendedor.calificacion }}
        </mat-card-content>
      </mat-card>
</div>

<!-- <div *ngIf="resultados.length === 0 && query">
    <p>No se encontraron vendedores para el producto "{{ query }}"</p>
</div> -->