.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 20px;
}

.search-bar{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input{
    width: 600px;
    height: 35px;
    border: 8px solid #321f3d86;
    padding-left: 10px;
}

.search-bar button{
    border: 0 solid #321f3d86;
    height: 53px;
    width: 100px;
    background-color: #321f3d86;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.search-bar button:hover{
    background-color: #751ba15d;
}


.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.example-card {
    background-color: rgba(255, 255, 255, 0.74);
    width: 730px;
    margin: 12px;
}

.example-card .card-title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.example-card .card-subtitle {
    font-size: 20px;
    color: #000000;
}

.example-card p {
    font-size: 18px;
    margin: 10px;
}

.example-card h3 {
    font-size: 25px;
    margin: 15px;
    font-weight: bold;
}


